.login-container {
  display: flex;
  flex-direction: column;        /* Optional, if you want column layout */
  align-items: center;          /* Horizontal centering of child elements */
  justify-content: center;      /* Vertical centering of child elements */
  height: 100vh;                /* Fill entire browser viewport height */
  max-width: 300px;             /* Limit width to 300px */
  margin: 0 auto;               /* Keep container itself centered horizontally if viewport is wider */
  // background-color: #51e2f5;
}


.logo {
  width: 150px;
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
}

