@import '../../scss/variables';

.login-container {
  @extend %auth-container;
  text-align: center;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-lg;
}

.logo {
  width: 150px;
}

.loginForm {
  width: 100%;
  margin-bottom: $spacing-lg;
}

.form-group {
  margin-bottom: $spacing-md;
}

.remember-me {
  margin-bottom: $spacing-md;
}

.signup-button {
  margin-top: $spacing-md;
}

