@import '../../scss/variables';

.input-wrapper {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: $spacing-md;
  
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}
