@import "../../scss/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-lg;
  height: 42px;
  padding: 0 $spacing-sm;
}

.leftSection {
  display: flex;
  align-items: center;
  height: 100%;
}

.rightSection {
  display: flex;
  align-items: center;
  height: 100%;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.checkbox {
  width: 18px;
  height: 18px;
  accent-color: $primary-color;
  cursor: pointer;
}

.text {
  color: #666;
  user-select: none;
  margin-left: $spacing-sm;
}

.forgotPassword {
  color: $primary-color;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}
