@import '../../scss/variables';

.button {
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding: $spacing-md $spacing-lg;
}