.passwordContainer {
  position: relative;
  width: 100%;
}

.eyeIcon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  max-height: 24px;
} 