@import '../../scss/variables';

.container {
  @extend %form-group-base;
  position: relative;
}

.inputWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.eyeButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  color: $primary-color;

  &:hover {
    color: #333;
  }
}

.errorMessage {
  @include error-message;
} 